# Exclude native folders (since project already has android/ios folders)
android/.gradle
android/app/build
ios/build

# Prevent uploading unnecessary local files to EAS build
.expo/
.expo-shared/
node_modules/

# IDE stuff
.DS_Store
.vscode/
.idea/
